
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    height: 100vh;
}
.container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fffafa;
}
.container-1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-2{
    width: 600px;
    display: flex;
    justify-content: center;
}
.profile-photo{
    width: 200px;
    border-radius: 75px;
}
.profile{
    padding: 10px 0 0;
    border-radius: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-name{
    display: flex;
    justify-content: center;
}
.fiverr-icon{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding-right: 43px;
    padding: 20px 50px 0px ;
}
.profile-username{
    display: flex;
    justify-content: center;
    margin: -22px;
}
.profile-title{
    display: flex;
    justify-content: center;

}
.button {

            font-family: Arial, sans-serif; /* sets the font */
            padding: 10px 20px; /* adds space inside the button around the text */
            border: 1px solid #b3b3b3; /* sets the border color and width */
            display: flex;
            justify-content: center;
            margin: 20px;
}

/* Button hover styling */
.button:hover {
    background-color: #b6b5b5; /* changes background color on hover */
    color: #333333; /* changes the text color on hover */
}




.card-container {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 24px;
  }
  
  .card {
    width: 30%;
    border: 1px solid #ddd; /* subtle border */
    border-radius: 10px; /* rounded corners */
    padding: 20px;
    background-color: #d3d9d329; /* background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow */
    text-align: center;
    margin: 10px;
  }
  
  .card-logo img {
    width: 138px;
    height: auto;
    margin-bottom: 14px;
    border-radius: 4px;
  }
  
  .card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333; /* Dark grey color for text */
  }
  
  .card-price {
    font-size: 14px;
    color: #888; /* Light grey color for price */
    font-weight: bold;
    border-radius: 4px;
  }
  .footer {
    width:560px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
  }
  .social-icons {
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .social-icons a {
    display: inline-block;
    margin: 0 10px;
  }
  @media screen and (max-width: 500px) {
    .card-container {
        display: flex;
        justify-content: center;
        padding: 25px 0 25px;
        flex-direction: row;
        flex-wrap: wrap;
      }
      
      .card {
        width: 39%;
        border: 1px solid #ddd; /* subtle border */
        border-radius: 10px; /* rounded corners */
        padding: 20px;
        background-color: #d3d9d329; /* background color */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow */
        text-align: center;
        margin: 10px;
      }
      
      .card-logo img {
        width: 230px;
        height: auto;
        margin-bottom: 14px;
        border-radius: 10px;
      }
      
      .card-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
        color: #333; /* Dark grey color for text */
      }
      
      .card-price {
        font-size: 14px;
        color: #888; /* Light grey color for price */
        font-weight: bold;
      }
  }
  @media screen and (max-width: 300px) {
    .card-container {
        display: flex;
        justify-content: center;
        padding: 24px 0 10px;
        flex-direction: row;
        flex-wrap: wrap;
      }
      
      .card {
        width: 70%;
        border: 1px solid #ddd; /* subtle border */
        border-radius: 10px; /* rounded corners */
        padding: 20px;
        background-color: #d3d9d329; /* background color */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow */
        text-align: center;
        margin: 10px;
      }
      
      .card-logo img {
        width: 400px;
        height: auto;
        margin-bottom: 14px;
        border-radius: 12px;
      }
      
      .card-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
        color: #333; /* Dark grey color for text */
      }
      
      .card-price {
        font-size: 15px;
        color: #888; /* Light grey color for price */
        font-weight: bold;
      }
  }




  